@using Coinage.Web.Models.Baskets
@model BasketModel
@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

@if (Model.Items.Any())
{
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4"></div>
        <div class="col-md-2">Quantity</div>
        <div class="col-md-1">Unit Price</div>
        <div class="col-md-1">Sub Total</div>
        <div class="col-md-1"></div>
    </div>
    
    foreach (BasketModel.BasketItemModel item in Model.Items)
    {
        @Html.Partial("_BasketItem", item)
    }
    
    <div class="row">
        <div class="col-md-4 pull-right">Total &pound;@Model.Total</div>
    </div>
}
