@using Coinage.Domain.Concrete.Entities
@using Coinage.Domain.Entites
@model List<Coinage.Domain.Entites.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

@if (Model.Any())
{
    <table class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>ID</th>
                <th>Name</th>
                <th>Featured</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@Html.ActionLink("Edit", "Edit", "Product", new {id = product.Id}, new {@class = "btn btn-default"})</td>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.IsFeatured</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">No products were found.</div>
}
