@using Coinage.Domain.Concrete.Entities
@model List<Coinage.Domain.Concrete.Entities.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Name</th>
            <th>Featured</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <td>@Html.ActionLink("Edit", "Edit", "Product", new { id = product.ProductId }, new { @class = "btn btn-default" })</td>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.IsFeatured</td>
            </tr>
        }
    </tbody>
</table>
