@model Coinage.Web.Models.Product.ProductDetailsModel.AddToBasketModel
@{
    Layout = null;
}

@using (Html.BeginForm("AddToBasket", "Basket"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Quantity)
        @Html.TextBoxFor(p => p.Quantity, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(p => p.ProductId)

    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Basket</button>
}
