@model List<Coinage.Domain.Entites.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@if (Model.Any())
{
    <div class="row">
        @foreach (var product in Model)
        {
            @Html.Partial("_SingleListProduct", product)
        }
    </div>
}
else
{
    <p><strong>Sorry, we have no products available.</strong></p>
}
