@if (TempData["coinage.alerts.info"] != null)
{
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(TempData["coinage.alerts.info"])
    </div>
}
@if (TempData["coinage.alerts.success"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(TempData["coinage.alerts.success"])
    </div>
}
@if (TempData["coinage.alerts.error"] != null)
{
    <div class="alert alert-error alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(TempData["coinage.alerts.error"])
    </div>
}